<ion-card class="ion-text-center">
  <ion-card-header>
    <ion-card-title>Mis Datos</ion-card-title>
    <ion-card-subtitle>Usuario:{{username.usuario}}</ion-card-subtitle>
  </ion-card-header>  
  <ion-card-content>
    <ion-list>
      <ion-item >
        <ion-input #nombre_ label="Nombre" [(ngModel)]="data.nombre" placeholder="Ingrese Nombre"></ion-input>
      </ion-item>
    
      <ion-item >
        <ion-input #apellido_ label="Apellido" [(ngModel)]="data.apellido" placeholder="Ingrese Apellido"></ion-input>
      </ion-item>
    
      <ion-item class="ion-padding-horizontal">
        <ion-label position="stacked" class="ion-padding-bottom">Educación</ion-label>
        <ion-select placeholder="Seleccione nivel" [(ngModel)]="data.education">
          <ion-select-option *ngFor="let niv of niveles" [value]="niv.id">{{niv.nivel}}</ion-select-option>
        </ion-select>
      </ion-item>
    
      <ion-item>
        <label>Fecha Nacimiento</label>
        <input  matInput [matDatepicker]="picker" [(ngModel)]="data.fecha_nacimiento" readonly>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-button shape="block" (click)="limpiar()">
              Limpiar
            </ion-button>
          </ion-col>
          <ion-col col-6>
            <ion-button shape="block" (click)="mostrar()">
              Mostrar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-list>
  
  </ion-card-content>
</ion-card>