<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> 
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="CambiodeSegmento($event)" value="misDatos">
    <ion-segment-button value="experienciaLaboral">
      <ion-label>Experiencia Laboral</ion-label>      
    </ion-segment-button>
    <ion-segment-button value="certificaciones">
      <ion-label>Certificaciones</ion-label>
    </ion-segment-button>
    <ion-segment-button value="misDatos">
      <ion-label>Mis Datos</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-mis-datos *ngIf="segmento === 'misDatos'"></app-mis-datos>
  <ion-button expand="block" color="warning" (click)="Inicio()">Volver al inicio</ion-button>
</ion-content>

<ion-footer>
  Creado por Lesther Araya
</ion-footer>
