<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> 
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="onChangeSegment($event)" value="buttons">
    <ion-segment-button value="consultar-datos" >
      <ion-label>Consultar Datos de Alumno</ion-label>      
    </ion-segment-button>
    <ion-segment-button value="usuarios">
      <ion-label>Compañias</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mis-datos">
      <ion-label>Mis Datos</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-consultar-datos *ngIf="segment === 'consultar-datos'"></app-consultar-datos>
  <app-usuarios *ngIf="segment === 'usuarios'"></app-usuarios>
  <app-mis-datos *ngIf="segment === 'mis-datos'"></app-mis-datos>
  <router-outlet></router-outlet>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Creado por Lesther Araya y Alejandra Guzman</ion-title>
  </ion-toolbar>
</ion-footer>
